<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors>
      <remove statusCode="401"/>
      <error statusCode="401" path="401.htm"/>
      <remove statusCode="403"/>
      <error statusCode="403" path="403.htm"/>
      <remove statusCode="404"/>
      <error statusCode="404" path="http://ahkazemi.ir/404.html" responseMode="Redirect"/>
      <remove statusCode="405"/>
      <error statusCode="405" path="405.htm"/>
      <remove statusCode="406"/>
      <error statusCode="406" path="406.htm"/>
      <remove statusCode="412"/>
      <error statusCode="412" path="412.htm"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="500.htm"/>
      <remove statusCode="501"/>
      <error statusCode="501" path="501.htm"/>
      <remove statusCode="502"/>
      <error statusCode="502" path="502.htm"/>
    </httpErrors>
  </system.webServer>
</configuration>
